.christmas-tree {
  position: absolute;
  top: 50px;
  left: 200px;
  width: 80px;

  &__part {
    width: 0;
    height: 0;
    margin: 0 auto;

    &:first-child {
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 40px solid rgba(0, 236, 0, .6);
    }

    &:nth-child(2) {
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 60px solid rgba(0, 236, 0, .6);
    }

    &:last-child {
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 80px solid rgba(0, 236, 0, .6);
    }
  }
}